<h1>Bem-vindo ao Disco App</h1>
<p>Encontre os melhores discos aqui!</p>

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/img/foto1.jpg" alt="Disco 1">
                <span class="card-title">1995</span>
            </div>
            <div class="card-content">
                <p>Zezé Di Camargo & Luciano é o sexto álbum de estúdio da dupla brasileira de música sertaneja Zezé Di Camargo & Luciano, lançado em agosto de 1995 pela Columbia Records e pela Sony Music.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/img/foto2.jpg" alt="Disco 2">
                <span class="card-title">1999</span>
            </div>
            <div class="card-content">
                <p>Zezé Di Camargo & Luciano é o décimo álbum de estúdio da dupla brasileira de música sertaneja Zezé Di Camargo & Luciano, lançado em 1999 pela Columbia Records e Sony Music. O álbum teve como sucessos as canções "Pare!", "Será que Foi Saudade?" e "Amor Selvagem".</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/img/foto3.jpg" alt="Disco 3">
                <span class="card-title">2002</span>
            </div>
            <div class="card-content">
                <p>Zezé Di Camargo & Luciano é o décimo quarto álbum de estúdio da dupla sertaneja brasileira Zezé Di Camargo & Luciano, lançado em 2002. Reúne os sucessos "A Ferro e Fogo", "Sufocado", "Preciso de Um Tempo" e "Eu Era Assim".</p>
            </div>
        </div>
    </div>
</div>


